<%- include ('../partials/headers&footers/header') %> 
<%- include('../partials/navs/index_nav') %>
<section id="apply">
        
    <div class="apply-body">
      <div class="apply-body-title">
      <h1>Apply</h1>
      
    </div>
    
    <div class="apply-body-info">
      <div class="apply-body-info-text">
        <h2>Our arms are open</h2>
        <p>When you join our family, we're not interested in simply meeting your needs. We're determined to exceed them! At Open Hands, we strive to ensure that all of our clients are well cared for, from their general health and wellness through their final wishes. Our caring, knowledgeable staff works diligently to ensure the best possible outcome for all parties involved - whether it be the client or their family members or significant others. We know that you have many options when it comes to planning ahead for your future, but we hope that you choose us to help guide you along the way!</p>
      </div>
    </div>
    <div class="apply-body-client">
      <div class="apply-body-client-text">
        <h3>Applying as a client</h3>
      <p>Thank you for your interest in Open Hands Nursing Agency! After completing this form, one of our team members will contact you in one to three business days regarding the client's needs. We look forward to helping you schedule your free consultation.</p>
      <p class="apply-required">As a reminder, we require the following information in order to complete your application:</p>
      <ul class="client-list">
        <li>Primary Health/Insurance Provider Name</li>
        <li>Emergency Contact Information</li>
        <li>Valid Email address</li>
        <li>Contact Phone Number</li>
      </ul>
      <a href="/apply/client"><button>Apply For Services</button></a>
      </div>
      
      <!-- <img src="/src/img/skele.gif" alt="skeleton"> -->
    </div>
    
    <div class="apply-body-employee">
      <div class="apply-body-employee-text">
        <h3>Applying as an Employee</h3>
      <p>Thank you for your interest in joining the team at Open Hands Nursing Agency, please complete and submit this form. Our staff will review your information, assess your qualifications and call you back within one to three business days to continue the conversation.</p>
      <p class="apply-required">We’re excited you’re interested in working with Open Hands Nursing Agency. To complete your application, please make sure you have the following:</p>
      <ul class="employee-list">
        <li>Valid Email address</li>
        <li>Contact Phone Number</li>
      </ul>
      <a href="/apply/employee"><button>Apply As An Employee</button></a>
      </div>
      
    </div>
    
    </div>
  </section>
<%- include('../partials/headers&footers/footer') %>